.v-vertical-blogs-container {
	-ms-flex-direction: column;
	flex-direction: column;
}
.v-horizontal-blogs-container {
	-ms-flex-direction: row;
	flex-direction: row;
}
.v-blogs-grid-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem 1.15rem;
	transition: grid-template-columns 300ms ease-in-out;
	will-change: grid-template-columns;
}
@media all and (min-width: 650px) {
	.v-blogs-grid-container {
		grid-template-columns: 1fr 1fr;
	}
}
@media all and (min-width: 768px) and (max-width: 850px) {
	.v-blogs-grid-container {
		grid-template-columns: 1fr;
	}
}
@media all and (min-width: 991px) {
	.v-blogs-grid-container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
.v-each-blog-post {
	--profile-image-radius: 2.25rem;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}
.v-each-blog-post .v-author-image {
	height: var(--profile-image-radius);
	min-width: var(--profile-image-radius);
	width: var(--profile-image-radius);
	overflow: hidden;
	border-radius: 50%;
	border: 1px solid rgba(var(--dark-variant), 0.1);
}
.v-each-blog-post .v-blog-content .v-post-data {
	column-gap: 10px;
}
.v-each-blog-post .v-blog-content,
.v-each-blog-post .v-blog-content [href] {
	display: flex;
	flex-direction: column;
}
.v-each-blog-post .v-title {
	font-size: 1.12rem;
	color: var(--dark);
	opacity: 0.97;
}
.v-blog-page .v-each-blog-post .v-title {
	font-size: 2.3rem;
	font-weight: 700;
}
.v-each-blog-post .v-blog-content [href] {
	color: var(--dark);
	row-gap: 6px;
}
.v-each-blog-post .v-blog-content {
	row-gap: 0.9rem;
	flex-grow: 1;
}
.v-each-blog-post .v-blog-content .v-subtext {
	font-size: 0.85rem;
	color: rgba(var(--dark-variant), 0.7);
	opacity: 0.95;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	overflow: -moz-hidden-unscrollable;
	overflow: hidden;
	display: -webkit-box;
}
.v-blog-page .v-each-blog-post .v-blog-content .v-main-subtext {
	font-size: 1.28rem;
	line-height: normal;
}
.v-each-blog-post .v-text {
	font-size: 0.88rem;
	color: #0009;
	flex-grow: 1;
}
@media all and (min-width: 650px) {
	.v-each-blog-post .v-text {
		flex-grow: 0;
	}
}
.v-each-blog-post .v-subtitle {
	font-size: 0.92rem;
}
.v-blog-page .v-each-blog-post .v-text {
	font-size: 0.9rem;
}
.v-each-blog-post .v-blog-image {
	height: 200px;
	overflow: hidden;
}
.v-each-blog-post .v-blog-image .img-fluid {
	height: 100%;
	width: 100%;
	object-fit: cover;
	-o-object-fit: cover;
	object-position: center center;
	-o-object-position: center center;
}
.v-each-blog-post .v-book-mark-blog {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 7px;
	border-radius: 50%;
	transition: 300ms ease-in-out;
	overflow: hidden;
	will-change: background-color;
	color: #0008;
	aspect-ratio: 1/1;
}
.v-each-blog-post .v-book-mark-blog:hover {
	background-color: #ddd3;
}
.v-blog-page .v-each-blog-post .v-book-mark-blog svg {
	--size: 1.5rem;
}
.v-blog-page .v-each-blog-post .v-book-mark-blog {
	padding: 8px;
}
.v-blog-page .v-action-container {
	display: flex;
	align-items: center;
	column-gap: 3px;
}
.v-blog-page .v-action-container .v-count {
	font-size: 0.9rem;
	opacity: 0.8;
}
.v-action-btn {
	background-color: var(--primary-clr);
	color: var(--white);
	border-radius: 5px;
	padding: 14px 1.5rem;
}
/* for write page */
.v-text-editor-container .v-text-editor-control {
	appearance: none;
	border: 0px solid transparent;
	background-color: transparent;
	width: 100%;
	resize: none;
	line-height: 1.3;
}
.v-text-editor-container .v-text-editor-control::-webkit-scrollbar {
	width: 0;
}
.v-text-editor-container .v-main-title {
	font-size: 1.8rem;
	font-weight: 500;
	height: 50px;
	line-height: 1.2;
}
.v-text-editor-container .v-subtext {
	font-size: 1.25rem;
	height: 2rem;
}
#v-editor {
	height: 580px;
	margin-bottom: 1.2rem;
}
.v-text-editor-container .v-action {
	background-color: var(--primary-clr);
	color: var(--white);
	font-size: 0.9rem;
	border-radius: 8px;
	width: 100%;
	border-radius: 2px;
	transition: 300ms ease-in-out;
	min-height: 3.5rem;
}
.v-text-editor-container .v-action:hover {
	opacity: 0.8;
}
.v-text-editor-container .v-action:disabled {
	background-color: #ddd;
	cursor: not-allowed;
}
